body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #ffffff;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #2f3136;
    width: 20%;  /* Set the width of the input container */
    margin: auto; /* Center the input container */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #40444b;
    box-sizing: border-box; /* Make sure the padding and border don't increase the total width */
}

button {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #7289da;
    cursor: pointer;
    width: 20%; /* Match button width with input fields */
    margin: auto; /* Center the button */
}

button:hover {
    background-color: #677bc4;
}

h1 {
    text-align: center;
}
/* Larger screens */
@media (min-width: 600px) {
    .input-group, button {
        width: 50%; /* set width for larger screens */
    }
}

/* Even larger screens */
@media (min-width: 900px) {
    .input-group, button {
        width: 20%; /* set width for even larger screens */
    }
}